  <% provide(:title, "Index") %>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>
<body>

    <%= render 'layouts/sidebar', location: @location %>

    <div class="col-sm-8 text-left">
      </br>
      <h3>The holiday planner</h3>
      <p>To use the holiday planner you can either:</p>
      <p>1. Put an address in the search bar, pick the activities you would like to search for, then press "create location".</p>
      <p>or</p> 
      <p>2. From a hotel booking, pick the activities yoiu would like to search on, press "plan your trip"</p>  
      <hr>
      <%= render 'layouts/map_key', location: @location %>
      <hr>
      <h3> Holidays booked</h3>
      </div>
      <div class="col-sm-8 text-left">
      <div class="col-sm-12 sidenav">
      <h3>Poseidon Resort</h3>
      <%= image_tag "poseidon-resort.jpeg", :class => "image" %>
      <p>Overview</p>
      <p>Poseidon Resort is located just a 5-minute walk from the Levante beach, the old town and the centre of Benidorm. The hotel boasts 2 outdoor swimming pools. It is only a short walk to the nearest bars, shops and restaurants.</P>
      </br>
      <p>## For group bookings, please contact our sales team prior to booking to discuss your requirements. The hotel will only accept group bookings on…</p>
       <%= form_tag(locations_path) %>
        <%# @types.each do |typ| %>
        <%#= hidden_field_tag "activity_types[#{typ}]", %>
        <%# end %>
        <%= hidden_field_tag "activity_types_mirror" %>
        <%= hidden_field_tag "location[search]", "Calle del Esperanto, 9, 03503 Benidorm, Alicante, Spain" %>
       <p align = right><%= submit_tag "Plan Your Trip"%></p>
       <%# end %>
      </div>
    </div>
  </div>
</div>
<script>
$("[id^=activity_types_types_]").change(function(){

    var oChecked = new Array();

    $("[id^=activity_types_types_]").each(function(index, val){
        if($(val).is(":checked"))
        oChecked.push($(val).val());
    });

    $("#activity_types_mirror").val(oChecked);
    console.log($('#activity_types_mirror').val())
});
</script>
