  <% provide(:title, "Index") %>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>
<body>

    <%= render 'layouts/sidebar', location: @location %>

    <div class="col-sm-8 text-left">
      </br>
      <h3>The holiday planner</h3>
      <p>To use the holiday planner you can either:</p>
      <p>1. Put an address in the search bar, pick the activities you would like to search for, then press "create location".</p>
      <p>or</p>
      <p>2. From a hotel booking, pick the activities yoiu would like to search on, press "plan your trip"</p> 
      <hr>
      <%= render 'layouts/map_key', location: @location %>
      <hr>
      <h3>Feature Holiday</h3>
      </div>
      <div class="col-sm-8 text-left">
      <div class="col-sm-12 sidenav">
      <h3>Fuertesol</h3>
      <%= image_tag "fuertesol.jpeg", :class => "image" %>
      <p></p>
      <h5>Overview</h5>
      <p>This bungalow complex is situated in the centre of the charming island of Fuerteventura in the quiet surroundings of Caleta de Fuste and is popular with both couples and families. Alongside peace and relaxation, guests are also able to enjoy a rich selection of sports, restaurants, shopping centres, pathways and bars. There is also a stop for the public transport to be found just 15 minutes from the unique marina.</p>
      </br>
      <h6>How far is the nearest beach?</h6>
      <p>This hotel is located 550m from the beach</p>
      </br>
      <h6>Distance from Airport</h6>
      <p>Fuerteventura Airport is within 8 km of the hotel.</p>
      </br>
      <h6>Rooms</h6>
      <p>The tastefully designed apartments include a combined living room/ bedroom, a bathroom and a separate bedroom. In addition, satellite/cable TV and a kitchen with a fridge also feature within the apartments. Guests will also find a lounge and a balcony or terrace in the apartments. A hire safe rounds up the offerings. Hired at reception, Safe Box, Wi-Fi, Sun Umbrellas, TV, Fans, Coffee Express, Iron, Hair Dryers, Laundry, Early Arrival, Late Check Out, etc..</p>
      </br>
      <h6>Food & Drink</h6>
      <p>There is a Quiet Bar-Restaurant where you can enjoy all kinds of refreshing drinks and tasty snacks. Breakfast is a selection …</p>
       <%= form_tag(locations_path) %>
        <%= hidden_field_tag "activity_types_mirror" %>
        <%= hidden_field_tag "location[search]", "Av. Virgen de la Peña, 2, 35610 Castillo Caleta de Fuste, Las Palmas, Spain" %>
        <p align = right><button>Book holiday</button></p>
       <p align = right><%= submit_tag "See whats nearby"%></p>
      </div>
    </div>
  </div>
</div>
<script>
$("[id^=activity_types_types_]").change(function(){

    var oChecked = new Array();

    $("[id^=activity_types_types_]").each(function(index, val){
        if($(val).is(":checked"))
        oChecked.push($(val).val());
    });

    $("#activity_types_mirror").val(oChecked);
    console.log($('#activity_types_mirror').val())
});
</script>
