 <% provide(:title, "Results") %>
 <div class = "headings">
 <h2 align = center><b>Map View of <%= @location.name %></b></h2>
 </div>
 <div class="text-div">
 <h3 align = center>Displaying:</br>  <% @displayed_types.each do |da|%><%= @pretty_names[da].to_s.pluralize %></br> <% end %></h3>
</div>
<div align= center ><%= link_to 'Back', root_path, class: "button" %></div>
  <%= render 'layouts/map' %>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  var circles = handler.addCircles(
  [{ lat: <%= @location.latitude %>, lng: <%= @location.longitude %>, radius: 5*1600 }],
  { strokeColor: '#FF0000', fillColor: '#888888'}
  );
  markers = handler.addMarkers([
  {
  "lat": <%= @location.latitude %>,
  "lng": <%= @location.longitude %>
  },
  <% @display_attractions.each do |att| %>
  {
  "lat": <%= att.latitude %>,
  "lng": <%= att.longitude %>,
  "infowindow": "<a href='/attractions/<%= att.id %>'><%= att.name %></a>",
  "picture": {
      "url": "<%= image_url(@icons[att.activity_types[0].name])%>",
      "width": 20,
      "height": 34,
    },
  },
  <% end %>
  ]);
  handler.bounds.extendWith(markers);
  handler.bounds.extendWith(circles);
  handler.fitMapToBounds();
});

</script>
