
<h3 align = center>Map View</h3>
<div style='padding: 0px 0px 0px 340px; width: 800px;'>
<div id="map" style='width: 800px; height: 400px;'></div>
</div>
<div class = box>
<%= render 'layouts/map_key', location: @location %>
</div>
</br>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  var circles = handler.addCircles(
  [{ lat: <%= @location.latitude %>, lng: <%= @location.longitude %>, radius: 5*1600 }],
  { strokeColor: '#FF0000', fillColor: '#888888'}
  );
  markers = handler.addMarkers([
  {
  "lat": <%= @location.latitude %>,
  "lng": <%= @location.longitude %>
  },
  <% @display_attractions.each do |att| %>
  {
  "lat": <%= att.latitude %>,
  "lng": <%= att.longitude %>,
  "infowindow": "<%= att.name %>",
  "picture": {
      "url": "<%= image_url(@icons[att.activity_types[0].name])%>",
      "width": 20,
      "height": 34,
    },
  },
  <% end %>
  ]);
  handler.bounds.extendWith(markers);
  handler.bounds.extendWith(circles);
  handler.fitMapToBounds();
});

</script>
