<% provide(:title, "Index") %>

<h1 align = center>Activity Types</h1>

<table align = center border = 1>
<tr>
  <th>Activity type</th>
</tr>
  <% @activity_types.each do |activity| %>
    <tr> 
         <td><%= activity.name %></td>
         <td><%= link_to 'Show', activity %></td> 
         <td><%= link_to 'Edit', edit_activity_type_path(activity) %></td>
         <td><%= link_to 'Delete', activity, method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
</table>
<div class = form>
<%= will_paginate @attraction %>
</div>
<p align = center><%= link_to 'Create new activity', new_activity_type_path %></p>
<p align = center><%= link_to 'Create new attraction', new_attraction_path %></p>
<p align = center><%= link_to 'Create new location', new_location_path %></p>
<p align = center><%= link_to 'New User', new_user_path %></p>
