<% provide(:title, "Show a location") %>

    <div class="col-sm-9">
      <h2>Locations</h2>
      </br>
      <table align = center>
      <tr>
      <td>Name:</td><td><%= @location.name %></td>
      </tr>
      <tr>
      <td>Country:</td><td><%= @location.country %></td>
      </tr>
      <tr>
      <td>Longitude:</td><td><%= @location.longitude %></td>
      </tr>
      <tr>
      <td>Latitude:</td><td><%= @location.latitude %></td>
      </tr>
      <tr>
      <td>Address:</td><td><%= @location.address %></td>
      </tr>
      </table>
      <p></p>
      <p><%= link_to 'Back', locations_path %> ||
      <%= link_to 'Edit', edit_location_path(@location) %></p>

      <h3>Nearby Attractions:</h3></br>
      <% @location.attractions.each do |att| %>
      <p><% att.name %> - <% att.activity_types.each do |typ| %> <%= typ.name %> <% end %></br></p>
      <% end %>
      </br></br>
      </div>
     <%= render 'layouts/map', location: @location %>
