<% provide(:title, "Show a location") %>
      <h2 align = center><%= @location.name %></h2>
      </br>
      <table class = "loc-table" align = center >
      <tr>
      <td>Country:</td><td><%= @location.country %></td>
      </tr>
      <tr>
      <td>Longitude:</td><td><%= @location.longitude %></td>
      </tr>
      <tr>
      <td>Latitude:</td><td><%= @location.latitude %></td>
      </tr>
      <tr>
      <td>Address:</td><td><%= @location.address %></td>
      </tr>
      </table>
      <div class = form>
      <p></p>
      <p><%= link_to 'Back', locations_path, class: "button" %></p>
      <hr>
      <hr>
      <h3>Map View</h3>
      </div>
      <%= render 'layouts/map' %>
<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  var circles = handler.addCircles(
  [{ lat: <%= @location.latitude %>, lng: <%= @location.longitude %>, radius: 5*1600 }],
  { strokeColor: '#FF0000', fillColor: '#888888'}
);
  markers = handler.addMarkers([
    {
      "lat": <%= @location.latitude %>,
      "lng": <%= @location.longitude %>
    },
    <% @location.attractions.each do |att| %>
    {
      "lat": <%= att.latitude %>,
      "lng": <%= att.longitude %>,
      "infowindow": "<a href='/attractions/<%= att.id %>'><%= att.name %></a>",
      "picture": {
          "url": "<%= image_url(@icons[att.activity_types.first.name])%>",
          "width": 20,
          "height": 34,
        },
    },
    <% end %>
  ]);
  handler.bounds.extendWith(markers);
  handler.bounds.extendWith(circles);
  handler.fitMapToBounds();
});
</script>
