      <h3>Holiday planner key</h3>
      <p><%= image_tag "markers/purple_MarkerA.png" %> Is used to show all family friendly attractions</p>
      <p><%= image_tag "markers/pink_MarkerA.png" %> Is used to show all  day attractions</p>
      <p><%= image_tag "markers/yellow_MarkerA.png" %> Is used to show all places of worship</p>
      <p><%= image_tag "markers/red_MarkerA.png" %> Is used to show all types of night life</p>
      <p><%= image_tag "markers/orange_MarkerA.png" %> Is used to show all food establishments</p>