  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #d7e8f9;
      height: 50%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
  </style>
  <div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Choose which attractions you would like to see</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><%= form_for location do |f| %></li>
        <li>Amusement Park: <%= check_box("activity_types", "types", {:multiple => true}, "amusement_park", nil) %></li>
        <li>Aquarium: <%= check_box("activity_types", "types", {:multiple => true}, "aquarium", nil) %></li>
        <li>Art Gallery: <%= check_box("activity_types", "types", {:multiple => true}, "art_gallery", nil) %></li>
        <li>Bar: <%= check_box("activity_types", "types", {:multiple => true}, "bar", nil) %></li>
        <li>Bowling Alley <%= check_box("activity_types", "types", {:multiple => true}, "bowling_alley", nil) %></li>
        <li>Cinima: <%= check_box("activity_types", "types", {:multiple => true}, "movie_theater", nil) %></li>
        <li>Museum : <%= check_box("activity_types", "types", {:multiple => true}, "museum", nil) %></li>
        <li>Night Club: <%= check_box("activity_types", "types", {:multiple => true}, "night_club", nil) %></li>
        <li>Restaurant: <%= check_box("activity_types", "types", {:multiple => true}, "restaurant", nil) %></li>
        <li>Shopping Center: <%= check_box("activity_types", "types", {:multiple => true}, "shopping_mall", nil) %></li>
        <li>Stadium: <%= check_box("activity_types", "types", {:multiple => true}, "stadium", nil) %></li>
        <li>Zoo: <%= check_box("activity_types", "types", {:multiple => true}, "zoo", nil) %></br></br></li>
        </br></br>
        <li><%= f.text_field :search, placeholder: "Search" %> </li>
        <li><%= f.submit %></li>
        </br></br>
        <% end %>
      </ul><br>
    </div>
