  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #d7e8f9;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
  </style>
  <div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Choose which attractions you would like to see</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><%= form_for location do |f| %></li>
        <li><h6>Family Friendly</h6></li>
        <li>Amusement Park: <%= check_box("activity_types", "types", {:multiple => true}, "amusement_park", nil) %></li>
        <li>Aquarium: <%= check_box("activity_types", "types", {:multiple => true}, "aquarium", nil) %></li>
        <li>Art Gallery: <%= check_box("activity_types", "types", {:multiple => true}, "art_gallery", nil) %></li>
        <li>Bowling Alley <%= check_box("activity_types", "types", {:multiple => true}, "bowling_alley", nil) %></li>
        <li>Cinima: <%= check_box("activity_types", "types", {:multiple => true}, "movie_theater", nil) %></li>
        <li>Zoo: <%= check_box("activity_types", "types", {:multiple => true}, "zoo", nil) %></li>
        <li><hr></li>
        <li><h6>Day attractions</h6></li>
        <li>Museum : <%= check_box("activity_types", "types", {:multiple => true}, "museum", nil) %></li>
        <li>Shopping Center: <%= check_box("activity_types", "types", {:multiple => true}, "shopping_mall", nil) %></li>
        <li>Stadium: <%= check_box("activity_types", "types", {:multiple => true}, "stadium", nil) %></li>
        <li>Book Shops: <%= check_box("activity_types", "types", {:multiple => true}, "book_store", nil) %></li>
        <li>Beauty Salon: <%= check_box("activity_types", "types", {:multiple => true}, "beauty_salon", nil) %></li>
        <li>Spa : <%= check_box("activity_types", "types", {:multiple => true}, "spa", nil) %></li>
        <li>City Hall : <%= check_box("activity_types", "types", {:multiple => true}, "city_hall", nil) %></li>
        <li>Embassy : <%= check_box("activity_types", "types", {:multiple => true}, "embassy", nil) %></li>
        <li><hr></li>
        <li><h6>Places of Worship</h6></li>
        <li>Church : <%= check_box("activity_types", "types", {:multiple => true}, "church", nil) %></li>
        <li>Hindu temple : <%= check_box("activity_types", "types", {:multiple => true}, "hindu_temple", nil) %></li>
        <li>Mosque : <%= check_box("activity_types", "types", {:multiple => true}, "mosque", nil) %></li>
        <li>Synagogue : <%= check_box("activity_types", "types", {:multiple => true}, "synagogue", nil) %></li>
        <li>Other : <%= check_box("activity_types", "types", {:multiple => true}, "place_of_worship", nil) %></li>
        <li><hr></li>
        <li><h6>Night Life</h6></li>
        <li>Bar: <%= check_box("activity_types", "types", {:multiple => true}, "bar", nil) %></li>
        <li>Casino: <%= check_box("activity_types", "types", {:multiple => true}, "casino", nil) %></li>
        <li>Night Club: <%= check_box("activity_types", "types", {:multiple => true}, "night_club", nil) %></li>
        <li><hr></li>
        <li><h6>Food</h6></li>
        <li>Restaurant: <%= check_box("activity_types", "types", {:multiple => true}, "restaurant", nil) %></li>
        <li>Food takeaways: <%= check_box("activity_types", "types", {:multiple => true}, "meal_takeaway", nil) %></li>
        <li>Food delivery: <%= check_box("activity_types", "types", {:multiple => true}, "meal_delivery", nil) %></li>
        <li><hr></li>
        </br></br>
        <li><%= f.text_field :search, placeholder: "Search" %> </li>
        <li><%= f.submit %></li>
        </br></br>
        <% end %>
      </ul><br>
    </div>
