  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #d7e8f9;
      height: 100%;
      border-top-right-radius: 5px;
	    border-bottom-right-radius: 5px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
        border-top-right-radius: 10px;
	      border-bottom-right-radius: 10px;
      }
      .row.content {height: auto;}
    }
  </style>
  <div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h3>Choose which attractions you would like to see</h3>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><%= form_for location do |f| %></li>
        <% sidebar_names.each do |category, types| %>
          <li><h5><%= category %></h5></li>
            <% types.each do |name, type| %>
              <li><%= name %>: <%= check_box("activity_types", "types", {:multiple => true}, type, nil) %></li>
            <% end%>
            <hr>
        <% end %>
        </br></br>
        <li><%= f.text_field :search, placeholder: "Search", :class => "border" %> </li>
        </br>
        <li><%= f.submit "Find Attractions", class: "button"%></li>
        </br></br>
        <% end %>
      </ul><br>
    </div>
