  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #d7e8f9;
      height: 50%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
  <div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Choose which attractions you would like to see</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active">Amusement Park: <%= check_box_tag(:amusement_park) %></li>
        <li>Aquarium: <%= check_box_tag(:aquarium) %></li>
        <li>Art Gallery: <%= check_box_tag(:art_gallery) %></li>
        <li>Bar: <%= check_box_tag(:bar) %></li>
        <li>Bowling Alley <%= check_box_tag(:bowling_alley) %></li>
        <li>Cinima: <%= check_box_tag(:movie_theater) %></li>
        <li>Museum : <%= check_box_tag(:museum) %></li>
        <li>Night Club: <%= check_box_tag(:night_club) %></li>
        <li>Restaurant: <%= check_box_tag(:restaurant) %></li>
        <li>Shopping Center: <%= check_box_tag(:shopping_mall) %></li>
        <li>Stadium: <%= check_box_tag(:stadium) %></li>
        <li>Zoo: <%= check_box_tag(:zoo) %></br></br></li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search ..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>