<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<div id="tooplate_wrapper">

	<div id="tooplate_header">

    </div> <!-- end of header -->

    <div id="tooplate_main">

    <%= yield %>

    </div>	<!-- end of main -->

    <div id="tooplate_footer">

        Copyright © <a href="#">www.onthebeach.co.uk</a>

    </div> <!-- end of tooplate_footer -->

</div> <!-- end of wrapper -->

</body>
</html>
