<%= form_with(model: @attraction, local: true) do |form| %>
  <% if @attraction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attraction.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @attraction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% end %>
<div class = form>
<%= form_for @attraction do |f| %>
Name:</br> <%= f.text_field :name %></br>
Longitude:</br> <%= f.text_field :longitude %></br>
Latitide: </br><%= f.text_field :latitude %></br>
Speciality: </br><%= f.text_field :speciality %></br>
<p></p>
<%= f.submit %>
<p></p>
<% end %>
</div>