<% provide(:title, "Index") %>
<h1 align = center>Attractions Table</h1>
<table align = center border = 1>
<tr>
  <th>Attraction</th>
</tr>
  <% @attractions.each do |attraction| %>
    <tr> 
         <td><%= attraction.name %></br></br>
         <%= attraction.longitude %></br></br>
         <%= attraction.latitude %></br></br>
         <%= attraction.speciality %></td>
         <td><%= link_to 'Show', attraction %></td> 
         <td><%= link_to 'Edit', edit_attraction_path(attraction) %></td>
         <td><%= link_to 'Delete', attraction, method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
</table>

<p align = center><%= link_to 'Create new attraction', new_attraction_path %></p>
<p align = center><%= link_to 'Create new location', new_location_path %></p>
<p align = center><%= link_to 'New User', new_user_path %></p>

